body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    width: 90%;
    max-width: 1200px;
    display: grid;
    gap: 1em;
    padding: 10px 10px 10px 10px;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-template-rows: 13em 13em 13em 13em;
    background-color: aqua;
    /* justify-content: center;
    align-items: center; */
    /* grid-template-areas: 
    ""
    ""
    ""
    ""; */
    grid-template-areas:
        "seven one one four"
        "seven two three four"
        "eight two three four"
        "eight six five five";

}
.card1{
    background-color: blueviolet;
    grid-area: one;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .card1 img{
    width: auto;
    height: auto;
} */
.card2{
    background-color: lightcoral;
    grid-area: two;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.card3{
    background-color: lightpink;
    grid-area: three;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.card4{
    background-color: red;
    grid-area: four;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.card5{
    background-color: red ;
    grid-area: five;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.card6{
    background-color: pink;
    grid-area: six;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.card7{
    background-color:green ;
    grid-area: seven;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.card8{
    background-color: greenyellow;
    grid-area: eight;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

/* .card8 img{
    width: auto;
    height: auto;
} */


/* @media only screen and (max-width: 600px) {
  .card1 {grid-area: 1 / span 4;}
  .card2 {grid-area: 2 / span 4;}
  .card3 {grid-area: 3 / span 4;}
  .card4 {grid-area: 4 / span 4;}
  .card5 {grid-area: 5 / span 4;}
  .card6 {grid-area: 6 / span 4;}
  .card7 {grid-area: 7 / span 4;}
  .card8 {grid-area: 8 / span 4;}
} */
.card1 img,
.card2 img,
.card3 img,
.card4 img,
.card5 img,
.card6 img,
.card7 img,
.card8 img {
  max-width: 100%;
  height: auto;
}

.card1, .card2, .card3, .card4,
.card5, .card6, .card7, .card8 {
  padding: 1rem;
  overflow: hidden;
  text-align: center;
}

.card1 h2, .card2 h2, .card3 h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.card1 h4, .card2 h4, .card3 h4 {
  font-size: 0.9rem;
}
